{% extends 'base.html' %}
{% block content %}

<style>
    input{
     width: 200px;
     border-radius: 15px;
    }
    main
    {
     height: 100vh;
    }
    label
    {
     color: black;
     font-size: 1.5em;
     font-weight: bold;
    }
    body{
     background-color:grey;
    }
 </style>
 
{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<h1>SignUp Page</h1>
<form method="post" action="{% url 'signup' %}">
    {%csrf_token %}
    {{ form.as_div }}
    <input type="submit" class="btn" value="Sign Up">

</form>

{% endblock %}
