body {
    background-color: rgb(200, 192, 192);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.intro {
    /* width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-family:'tajawal', 'sans-serif';
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 50%;
    }
}

.logo {
    width: 150px;
    margin-left: 20px;
}

.navbar-fixed {
    background-color: rgb(57, 7, 103);
      
}


.profile-img{
    background-image: url('https://t3.ftcdn.net/jpg/03/46/83/96/240_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    /* height: 100vh; */
    height: 100px;
    width: 100px;
    border-radius: 80px;
    margin-top: 10px;

}

.profile-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

