{% extends 'base.html' %} 
{% block content %}

<h1>The Available Events</h1>

{% for event in events %}
<div class="card">
  <a href="{% url 'detail' event.id%}">
  <div class="card-content">
    <div class="flex-container">
        <span class="card-title">{{ event.name }}</span>
        <p>Description: {{ event.description}}</p>
        <p>Date: {{ event.date}}</p>
        <p>Time: {{ event.time }}</p>
        <p>Location: {{ event.get_location_display }}</p>

      <div>
        {% load static %} 
        <img class="eventImage" width="100px" height="100px" src={% static event.image|cut:'main_app/static/' %} />
      </div>
    </div>
  </div>
</a>
</div>
{% endfor %} 
{% endblock %}