{% extends 'base.html' %}


{% block content %}
<style>
  main
  {
    height: 110vh;
  }
  body{
    background-color: bisque;
  }
  h4{
    color: firebrick;
  }
</style>
{% load static  %}
  <h1 style="text-align: center;"> EventSpotter - FAQ</h1>
  <hr>
  <div style="margin: 5px, 50px, 50px, 50px;">
  <h1> &nbsp; &nbsp;Frequently Asked Questions</h1>
    
  <h4>&nbsp;&nbsp;What is EventSpotter?</h4>
  <p>&nbsp;&nbsp;EventSpotter is a platform for discovering and booking tickets to events in your city.</p>

  <h4>&nbsp;&nbsp;How does it work?</h4>
  <p>&nbsp;&nbsp;Simply browse events, choose the one you want, and book your tickets securely through our website. You'll receive a confirmation email with all the details of your booking.</p>

  <h4>&nbsp;&nbsp;What types of events can I find?</h4>
  <p>&nbsp;&nbsp;We offer a wide variety of events, from music concerts and festivals to theater shows, sports games, and more.</p>

  <h4>&nbsp;&nbsp;How do I know if my tickets are valid?</h4>
  <p>&nbsp;&nbsp;All tickets booked through EventSpotter are guaranteed to be valid for the event you've booked.</p>

  <h4>&nbsp;&nbsp;What happens if an event is canceled or rescheduled?</h4>
  <p>&nbsp;&nbsp;If an event is canceled or rescheduled, we'll notify you immediately and provide you with options for a refund or exchange.</p>

  <h4>&nbsp;&nbsp;How can I contact you?</h4>
  <p>&nbsp;&nbsp;Our customer support team is available 24/7 to help you. You can reach us by email, phone, or live chat through our website.</p>
</div>
{% endblock %}
