{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventSpotter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">

                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo"> <img class="logo" src="static/images/logo.png"> </a></li>
                </ul>

                <ul class="right">
                    
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'events_index' %}">Events</a></li>    
                        {% if user.is_staff %}
                            <li><a href="{% url 'home' %}">Add New Event</a></li>
                        {% endif %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                        
                        {% else %}
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>

                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>


    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; EventSpotter &nbsp;</div>
    </footer>

</body>
</html>